<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
    <script src="/JS/login.js" defer></script>
    <title>Login | Stargreen</title>
</head>
<body>
    <div class="stargreen-box">
        <div class="stargreen-icon">
            <a class="stargreen-text-titulo" href="index.html">STARGREEN</a>
            <a href="/HTML/index.html">
                <img src="/IMG/descarga (3).png" alt="">
            </a>
        </div>
    </div>
    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>
        <form action="/auth" method="post">
            <div class="input-box">
            <label for="user"></label>
            <input type="text" class="input-field" placeholder="Username" autocomplete="off" required id="user" name="user">
        </div>
        <div class="input-box">
            <label for="password"></label>
            <input type="password" class="input-field" placeholder="Password" autocomplete="off" required id="password" name="password">
        </div>
        <div class="forgot">
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember me</label>
            </section>
            <section class="text-forgot">
                <a href="#">Forgot password</a>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Sign In</label>
        </div>
        <div class="sign-up-link">
            <p>Don't have account? <a href="http://localhost:4000">Sign Up</a></p>
        </div>
    </div>
        </form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>

<% if(typeof alert_login_error !== "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alert_login_errorTitle %>',
            text:'<%= alert_login_errorMessage %>',
            icon:'<%= alert_login_errorIcon %>',
            showConfirmButtom:<%= showConfirmButtom_login_error %>,
        }).then(()=>{
            window.location = '/<%= ruta_login_error %>'
        })
    </script>

<% } %>

<% if(typeof alert_login_success !== "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alert_login_successTitle %>',
            text:'<%= alert_login_successMessage %>',
            icon:'<%= alert_login_successIcon %>',
            showConfirmButtom:<%= showConfirmButtom_login_success %>,
        }).then(()=>{
            window.location = '/<%= ruta_login_success %>'
        })
    </script>

<% } %>

<% if(typeof alert_login_missing !== "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alert_login_missingTitle %>',
            text:'<%= alert_login_missingMessage %>',
            icon:'<%= alert_login_missingIcon %>',
            showConfirmButtom:<%= showConfirmButtom_login_missing %>,
        }).then(()=>{
            window.location = '/<%= ruta_login_missing %>'
        })
    </script>

<% } %>
</body>
</html>
