<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
    <script src="/JS/login.js" defer></script>
    <title>Login | Stargreen</title>
</head>
<body>
    <div class="stargreen-box">
        <div class="stargreen-icon">
            <a class="stargreen-text-titulo" href="index.html">STARGREEN</a>
            <a href="/HTML/index.html">
                <img src="/IMG/descarga (3).png" alt="">
            </a>
        </div>
    </div>
    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>
        <form action="/auth" method="post">
            <div class="input-box">
            <label for="user"></label>
            <input type="text" class="input-field" placeholder="Username" autocomplete="off" required id="user" name="user">
        </div>
        <div class="input-box">
            <label for="password"></label>
            <input type="password" class="input-field" placeholder="Password" autocomplete="off" required id="password" name="password">
        </div>
        <div class="forgot">
            <section>
                <div class="checkbox-wrapper-4">
                    <input class="inp-cbx" id="morning" type="checkbox"/>
                    <label class="cbx" for="morning"><span>
                    <svg width="12px" height="10px">
                      <use xlink:href="#check-4"></use>
                    </svg></span><span>Remember me </span></label>
                    <svg class="inline-svg">
                      <symbol id="check-4" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </symbol>
                    </svg>
                  </div>
                  <style>
                    .checkbox-wrapper-4 * {
                      box-sizing: border-box;
                    }
                    .checkbox-wrapper-4 .cbx {
                      -webkit-user-select: none;
                      user-select: none;
                      cursor: pointer;
                      padding: 6px 8px;
                      border-radius: 6px;
                      overflow: hidden;
                      transition: all 0.2s ease;
                      display: inline-block;
                    }
                    .checkbox-wrapper-4 .cbx:not(:last-child) {
                      margin-right: 6px;
                    }
                    .checkbox-wrapper-4 .cbx:hover {
                      background: rgba(0,119,255,0.06);
                    }
                    .checkbox-wrapper-4 .cbx span {
                      float: left;
                      vertical-align: middle;
                      transform: translate3d(0, 0, 0);
                    }
                    .checkbox-wrapper-4 .cbx span:first-child {
                      position: relative;
                      width: 18px;
                      height: 18px;
                      border-radius: 4px;
                      transform: scale(1);
                      border: 1px solid #cccfdb;
                      transition: all 0.2s ease;
                      box-shadow: 0 1px 1px rgba(0,16,75,0.05);
                    }
                    .checkbox-wrapper-4 .cbx span:first-child svg {
                      position: absolute;
                      top: 3px;
                      left: 2px;
                      fill: none;
                      stroke: #fff;
                      stroke-width: 2;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-dasharray: 16px;
                      stroke-dashoffset: 16px;
                      transition: all 0.3s ease;
                      transition-delay: 0.1s;
                      transform: translate3d(0, 0, 0);
                    }
                    .checkbox-wrapper-4 .cbx span:last-child {
                      padding-left: 8px;
                      line-height: 18px;
                    }
                    .checkbox-wrapper-4 .cbx:hover span:first-child {
                      border-color: #07f;
                    }
                    .checkbox-wrapper-4 .inp-cbx {
                      position: absolute;
                      visibility: hidden;
                    }
                    .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
                      background: #07f;
                      border-color: #07f;
                      animation: wave-4 0.4s ease;
                    }
                    .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
                      stroke-dashoffset: 0;
                    }
                    .checkbox-wrapper-4 .inline-svg {
                      position: absolute;
                      width: 0;
                      height: 0;
                      pointer-events: none;
                      user-select: none;
                    }
                    @media screen and (max-width: 640px) {
                      .checkbox-wrapper-4 .cbx {
                        width: 100%;
                        display: inline-block;
                      }
                    }
                    @-moz-keyframes wave-4 {
                      50% {
                        transform: scale(0.9);
                      }
                    }
                    @-webkit-keyframes wave-4 {
                      50% {
                        transform: scale(0.9);
                      }
                    }
                    @-o-keyframes wave-4 {
                      50% {
                        transform: scale(0.9);
                      }
                    }
                    @keyframes wave-4 {
                      50% {
                        transform: scale(0.9);
                      }
                    }
                  </style>
            </section>
            <section class="text-forgot">
                <a href="/email-recuperacion.html">Forgot password</a>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Sign In</label>
        </div>
        <div class="sign-up-link">
            <p>Don't have account? <a href="http://localhost:4000">Sign Up</a></p>
        </div>
    </div>
        </form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>

<% if(typeof alert_login_error !== "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alert_login_errorTitle %>',
            text:'<%= alert_login_errorMessage %>',
            icon:'<%= alert_login_errorIcon %>',
            showConfirmButtom:<%= showConfirmButtom_login_error %>,
        }).then(()=>{
            window.location = '/<%= ruta_login_error %>'
        })
    </script>

<% } %>

<% if(typeof alert_login_success !== "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alert_login_successTitle %>',
            text:'<%= alert_login_successMessage %>',
            icon:'<%= alert_login_successIcon %>',
            showConfirmButtom:<%= showConfirmButtom_login_success %>,
        }).then(()=>{
            window.location = '/<%= ruta_login_success %>'
        })
    </script>

<% } %>

<% if(typeof alert_login_missing !== "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alert_login_missingTitle %>',
            text:'<%= alert_login_missingMessage %>',
            icon:'<%= alert_login_missingIcon %>',
            showConfirmButtom:<%= showConfirmButtom_login_missing %>,
        }).then(()=>{
            window.location = '/<%= ruta_login_missing %>'
        })
    </script>

<% } %>
</body>
</html>
